@charset "UTF-8";

/*Author: Ma. Angelica Santiago
Date: February 1, 2023
Description: WEBD1000 e-portfolio
*/

.menu{
    padding: 10px 0;
    display: flex; /* Made the menu inline with Portfolio */
    align-items: center;
    justify-content: space-between; /* Made the menu to move at the right end of the page */
    background-color: #000; /* makes the background color of menu black */
}
.menu ul li {
    display: inline-block; /* Makes the menu horizontal instead of vertical */
    list-style: none;
    margin: 10px 15px;
}

.menu ul li a{
    text-decoration: none; /* removes the underline and style in the menu */
    transition: 0.5s; /* smooth transition for the hover */
    
}

.menu ul li a:hover{
    color: skyblue;
    /* font-weight: bolder; */
}



