@charset "UTF-8";

/*Author: Ma. Angelica Santiago
Date: February 15, 2023
Description: WEBD1000 e-portfolio
*/



.grid-container {
    display: grid;
    grid-template-areas:  /*6 x 3 */
    'title title title'
    'contact profile profile'
    'skills experience experience'
    'education experience experience'
    'education experience experience'
    'languages experience experience';
    font-family: "IBM Plex Serif";
}

 @media only screen and (max-width: 767px) {/*for mobile */
    nav ul>li{
        display:block;
        float: left;
    }

    nav ul{
        display:block;
        float: left;
        list-style-type: none;
        width: 100%;
        overflow: hidden;
    }
    
    .item1{
        grid-area: title;
        text-align: center;
        
    
    }
    
    .item2{
        grid-area: contact;
    }
    
    .item3{
        grid-area: skills;
    }
    
    .item4{
        grid-area: education;
    }
    
    .item5{
        grid-area: languages;
    }
    
    .item6{
        grid-area: profile;
    }
    
    .item7{
        grid-area: experience;
    }
    .grid-container {
        display: grid;
        grid-template-areas:  /*6 x 3 */
        'title title title'
        'contact profile profile'
        'skills experience experience'
        'education experience experience'
        'education experience experience'
        'languages experience experience';
        font-family: "IBM Plex Serif";
        background-color: skyblue;
        padding: 20px;
    }
  }

  @media only screen and (max-width: 768px) {/*non mobile */
    .item1{
        grid-area: title;
        text-align: center;
        background-color: violet;
    }
}